.btn.btn-warning {
        height: 50px;
        width: 200px;
        font-family: serif;

}
.container{
        background-color:rgb(133, 126, 206);
        height: 100px;
        width: auto;
        padding-top: 25px;
}